#subtitle{
    border-right:1px solid gray;
    width:280px;
    margin:0;
    padding:10px;
  }
a {
    color:black;
    text-decoration: none;
  }
h1{
    font-size:45px;
    text-align: center;
    border-bottom:1px solid gray;
    margin:0;
    padding:60px;
    color:black;
    text-decoration: none;
  }
body{
    margin:0;
  }
.ST_element{
  margin:20px;
  color:black;
  text-decoration: none;
}
#grid{
  display: grid;
  grid-template-columns: 300px 1fr;
}
#article{
  border-left: 1px solid gray;
  padding: 30px;
}
